$blue: #216ff6;
$skyblue: #08dddb;
$green: #08b504;
$yellow: #faad14;
$orange: #ff8a00;
$red: #fd0201;
$white: #ffffff;
$black: #434343;
$base-bg: #111827;
$base-active:#1f2937;
$grey: #71717a;
$layout-aside-width: 228px;
$layout-header-height: 50px;
$layout-footer-height: 98px;
$layout-header-logo-size: 32px;
$border-radius-base: 8px;
$offset-base: 8px;
$offset-middle-base: 12px;
$offset-large-base: 16px;
$four-width-base: 288px;
$media-footer-height: 40px;
$nav-width:300px;
$paddingwidth:20px;
